[defaults]
host_key_checking = True
retry_files_enabled = False
stdout_callback = default
interpreter_python = /usr/bin/python3
roles_path = ./roles
vault_password_file = /home/altserver/.ansible-vault-pass

[ssh_connection]
pipelining = True
