((standard-office-v1
  (title . "Sosnadmin ALT workstation")
  (action . trivial)
  (actiondata
    ("swap"
      (size $swap_kib . $swap_kib)
      (fsim . "SWAPFS")
      (methods plain))
    (""
      (size $btrfs_minimum_kib . #t)
      (fsim . "BtrFS")
      (methods plain)
      (subvols ("@" . "/") ("@home" . "/home"))))))
