((standard-office-v1
  (target_disk . "$target_disk_path")
  (swap_mib . $swap_mib)
  (filesystem . "$filesystem")
  (minimum_mib . $btrfs_minimum_mib)
  (grow . #t)
  (subvols ("@" . "/") ("@home" . "/home"))))
