[Unit]
Description=ALT deployment HTTP server
After=network-online.target
Wants=network-online.target

Requires=alt-deploy-guard.service
After=alt-deploy-guard.service
[Service]
Type=simple
ExecStart=/usr/bin/python3 -m http.server 8087 --bind 0.0.0.0 --directory /srv/alt-deploy
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
