[MainWindow]
startMinimized=true

[FrameBuffer]
preferredFrameBufferPlugin=pw

[Security]
allowDesktopControl=true
allowUnattendedAccess=true
desktopPassword={{ vault_krfb_desktop_password_obscured }}
noWallet=true
unattendedPassword={{ vault_krfb_unattended_password_obscured }}
