{
  "machine_uuid": {{ machine_uuid | to_json }},
  "final_hostname": {{ final_hostname | to_json }},
  "employee_login": {{ employee_login | to_json }},
  "employee_full_name": {{ employee_full_name | to_json }},
  "profile": {{ profile | to_json }},
  "job_id": {{ job_id | to_json }},
  "completed_at": {{ provision_completed_at | to_json }}
}
